@model IEnumerable<scfs_erp.Models.OpenSheetMaster>
@{
    ViewBag.Title = "Open Sheet Master";
}

<div id="main-content">
    <div class="col-md-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="box">
                    <div class="panel panel-primary" style="background: #323C55;">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <i class="glyphicon glyphicon-import"></i><strong>@ViewBag.Title</strong>
                                <a class="btn btn-success btn-sm pull-right" style="padding:3px;margin:0 0 10px" href="@Url.Action("Form", "OpenSheet")"><i class="fa fa-plus-square "></i> Add New </a>
                            </div>
                        </div>
                    </div>
                    <div class="box-content no-padding">
                        <div class="row">
                            <div class="col-xs-3"> </div>
                            <div class="col-xs-6">
                                <form action="#" method="post" accept-charset="utf-8" id="exportgateinform" data-ng-controller="myController" name="exportgateinform">
                                    <label for="from">From</label>
                                    <input type="text" id="from" name="from" value="@System.Web.HttpContext.Current.Session["SDATE"]">
                                    <label for="to">to</label>
                                    <input type="text" id="to" name="to" value="@System.Web.HttpContext.Current.Session["EDATE"]">
                                    <input type="text" id="txtgroup" name="txtgroup" value="@System.Web.HttpContext.Current.Session["Group"]" class="hidden">
                                    <input type="submit" name="submit" value="Search" class="btn btn-primary btn-xs" />
                                </form>
                            </div>
                        </div>
                        <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="dataTables-example">
                            <thead>
                                <tr>


                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        No
                                    </th>
                                    <th>
                                        CHA Name
                                    </th>


                                    <th>
                                        Vessel Name
                                    </th>
                                    <th>
                                        IGM No
                                    </th>
                                    <th>Line No</th>
                                    <th>
                                        BOE No
                                    </th>
                                    <th>
                                        BOE Date
                                    </th>
                                    <th>S</th>
                                    <th class="hide"></th>
                                    <th></th>
                                    
                                </tr>
                            </thead>
                            @*<tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.OSMNO)
                                            </td>

                                            <td style="white-space:nowrap">
                                                @item.OSMDATE.ToString("dd/MM/yyyy")
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.OSMNAME)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.OSMIGMNO)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.OSMVSLNAME)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BOENO)
                                            </td>

                                            <td class="col-sm-3 cent">
                                                @Html.ActionLink("Edit", "Form", new { id = item.OSMID }, new { @class = "btn btn-primary" })
                                                @Html.ActionLink("Seal", "Form", "OpenSheetSealDetails", new { id = item.OSMID }, new { @class = "btn btn-info" })
                                                <a href="#" class="btn btn-danger del" id="@item.OSMID">  Delete </a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>*@
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script>
        $(document).ready(function () {

            $('#dataTables-example').dataTable({
                "bServerSide": true,
                "sAjaxSource": "@Url.Action("GetAjaxData", "OpenSheet")",
                "bProcessing": true,
                "bStateSave": true,
                "aaSorting": [[1, "desc"]],
                "oLanguage": {
                    "sSearch": "Search: "
                },
                "aoColumns": [
                    { "sName": "", "sClass": "col-md-1 " },
                    { "sName": " ", "sClass": "col-md-1 " },
                    { "sName": "", "sClass": "col-md-2 " },
                    { "sName": "", "sClass": "col-md-2" },
                    { "sName": " ", "sClass": "col-md-1 " },
                    { "sName": "", "sClass": "col-md-1 " },
                    { "sName": "", "sClass": "col-md-1 " },
                    { "sName": " ", "sClass": "col-md-1" },
                    { "sName": "", "sClass": "col-md-1 " },
                    { "sName": "", "sClass": "col-md-1 hide " },
                    {
                        "sClass": "col-md-1 cent",
                        "sName": "ID",
                        "bSearchable": false,
                        "bSortable": false,
                        "fnRender": function (oObj) {

                            var edchk = '';
                            var dlchk = '';
                            /*if (oObj.aData[11] == 'Not-Exists')*/ {
                                edchk = '<a   class="btn btn-primary btn-xs"   href="@Url.Action("Edit", "OpenSheet")/' +
                                    oObj.aData[9] + '\"  "><i class="glyphicon glyphicon-edit" style="font-size:small"></i></a>  ';
                                dlchk = '<a  class="btn btn-danger  del btn-xs" href="#" id="' +
                                    oObj.aData[9] + '\" ><i class="glyphicon glyphicon-trash" style="font-size:small "></i> </a>';

                            }
                            if ($('#txtgroup').val() == "SuperAdmin" || $('#txtgroup').val() == "GroupAdmin") {

                                    return edchk+' &nbsp;&nbsp;<a   class="btn btn-success btn-xs"   href="@Url.Action("TCHForm", "OpenSheet")/' +
                                    oObj.aData[9] + '\"  data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">TCHA</a>&nbsp;&nbsp;<a class="btn btn-info btn-xs"   href="@Url.Action("OSBOEForm", "OpenSheet")/' +
                                    oObj.aData[9] + '\"  data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">BOE No</a>&nbsp;&nbsp;<a class="btn btn-info btn-xs"   href="@Url.Action("OSBLForm", "OpenSheet")/' +
                                    oObj.aData[9] + '\"  data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">BL No</a>&nbsp;&nbsp;<a class="btn btn-info btn-xs ' + oObj.aData[10] +'"   href="@Url.Action("OOCForm", "OpenSheet")/' +
                                    oObj.aData[9] + '\"  data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">OOC No</a>&nbsp;&nbsp;<a class="btn btn-info btn-xs "   href="@Url.Action("DOVForm", "OpenSheet")/' +
                                    oObj.aData[9] + '\"  data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">DOV Dt</a>&nbsp;&nbsp;<a class="btn btn-warning btn-xs"  href="@Url.Action("SEdit", "OpenSheet")/' +
                                    oObj.aData[9] + '\"  " data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">Seal</a> &nbsp;&nbsp;   <a   class="btn btn-default btn-xs"   href="@Url.Action("PrintView", "OpenSheet")/' +
                                    oObj.aData[9] + '\"  " title="General Print" target="_blank"><i class="glyphicon glyphicon-print"></i></a>&nbsp;&nbsp;  <a   class="btn btn-info btn-xs"   href="@Url.Action("EPrintView", "OpenSheet")/' +
                                        oObj.aData[9] + '\"  " title="EIR Print" target="_blank"><i class="glyphicon glyphicon-print"></i></a> &nbsp;&nbsp'+ dlchk;
                            }
                            else {
                                return edchk+' &nbsp;&nbsp;<a   class="btn btn-success btn-xs"   href="@Url.Action("TCHForm", "OpenSheet")/' +
                                    oObj.aData[9] + '\"  data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">TCHA</a>&nbsp;&nbsp;<a class="btn btn-info btn-xs ' + oObj.aData[10]  +'" href="@Url.Action("OOCForm", "OpenSheet")/' +
                                    oObj.aData[9] + '\"  data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">OOC No</a>&nbsp;&nbsp;<a class="btn btn-info btn-xs"  href="@Url.Action("DOVForm", "OpenSheet")/' +
                                    oObj.aData[9] + '\"  data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">DOV Dt</a>&nbsp;&nbsp;<a class="btn btn-warning btn-xs"  href="@Url.Action("SEdit", "OpenSheet")/' +
                                    oObj.aData[9] + '\"  " data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false" >Seal</a> &nbsp;&nbsp;   <a   class="btn btn-default btn-xs"   href="@Url.Action("PrintView", "OpenSheet")/' +
                                    oObj.aData[9] + '\"  " title="General Print" target="_blank"><i class="glyphicon glyphicon-print"></i></a>&nbsp;&nbsp;  <a   class="btn btn-info btn-xs"   href="@Url.Action("EPrintView", "OpenSheet")/' +
                                    oObj.aData[9] + '\"  " title="EIR Print" target="_blank"><i class="glyphicon glyphicon-print"></i></a> &nbsp;&nbsp;' + dlchk;
                            }

                        }
                    }

                ]
            });

            $("#from").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 3,
                dateFormat: 'dd-mm-yy',
                onClose: function (selectedDate) {
                    $("#to").datepicker("option", "minDate", selectedDate);
                }
            });
            $("#to").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 3,
                dateFormat: 'dd-mm-yy',
                onClose: function (selectedDate) {
                    $("#from").datepicker("option", "maxDate", selectedDate);
                }
            });


            //----------------Delete button click event----
            $(document).on("click", "a.del", function () {
                var r = confirm("Are you sure to delete this record ?");

                if (r == true) {
                    var idx = $(this).attr('id');
                    base = window.location.origin;
                    $.post(base + "/OpenSheet/Del",
                        {
                            id: idx, fld: "OPENSHEET"
                        },
                        function (data, status) {
                            alert(data);
                            if (data == "Deleted successfully...")
                                location.replace(base + "/OpenSheet");
                        });
                }
                return false;
            });//----End of delete
        });//---End of ready function
    </script>
}
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

</div>