@model IEnumerable<scfs_erp.Models.ManualOpenSheetMaster>
@{
    ViewBag.Title = "Manual Open Sheet Master";
}
<div id="main-content">
    <div class="col-md-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="box">

                    <div class="panel panel-primary" style="background: #323C55;">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <i class="glyphicon glyphicon-import"></i>@ViewBag.Title
                                <a class="btn btn-success btn-sm pull-right" style="padding:3px;margin:0 0 10px" href="@Url.Action("Form", "ManualOpenSheet")"><i class="fa fa-plus-square "></i> Add New </a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-2"> </div>
                        <div class="col-xs-9">
                            <form action="#" method="post" accept-charset="utf-8" id="remotegateinform" data-ng-controller="myController" name="remotegateinform">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="col-md-2">
                                            <label for="from">From</label>
                                            <div class="form-group">
                                                <input type="text" id="from" name="from" class="form-control" value="@System.Web.HttpContext.Current.Session["SDATE"]">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="from">To</label>
                                            <div class="form-group">
                                                <input type="text" id="to" name="to" class="form-control" value="@System.Web.HttpContext.Current.Session["EDATE"]">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <label for="from"></label>
                                            <div class="form-group">
                                                <input type="submit" name="submit" value="Search" class="btn btn-primary btn-xs" />
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>

                    <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="dataTables-example">
                        <thead>
                            <tr>


                                <th>
                                    Date
                                </th>
                                <th>
                                    No
                                </th>
                                <th>
                                    CHA Name
                                </th>


                                <th>
                                    Vessel Name
                                </th>
                                <th>
                                    IGM No
                                </th>
                                <th>Line No</th>
                                <th class="hide">
                                    BOE No
                                </th>
                                <th class="hide">
                                    BOE Date
                                </th>
                                <th>S</th>
                                <th></th>
                            </tr>
                        </thead>
                       
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script>


        $(document).ready(function () {

            $('#dataTables-example').dataTable({
                "bServerSide": true,
                "sAjaxSource": "@Url.Action("GetAjaxData", "ManualOpenSheet")",
                "bProcessing": true,
                "bStateSave": true,
                "aaSorting": [[1, "desc"]],
                "oLanguage": {
                    "sSearch": "Search: "
                },
                "aoColumns": [
                    { "sName": "", "sClass": "col-md-2 " },
                    { "sName": " ", "sClass": "col-md-1 " },
                    { "sName": "", "sClass": "col-md-2 " },
                    { "sName": "", "sClass": "col-md-2" },
                    { "sName": " ", "sClass": "col-md-2 " },
                    { "sName": "", "sClass": "col-md-2 " },
                    { "sName": "", "sClass": "col-md-2 hide" },
                    { "sName": " ", "sClass": "col-md-2 hide" },
                    { "sName": "", "sClass": "col-md-2 " },
                    {
                        "sClass": "col-md-1 cent",
                        "sName": "ID",
                        "bSearchable": false,
                        "bSortable": false,
                        "fnRender": function (oObj) {
                            return ' <a   class="btn btn-primary btn-xs"   href="@Url.Action("Edit", "ManualOpenSheet")/' +
                                oObj.aData[9] + '\"  "><i class="glyphicon glyphicon-edit" style="font-size:small"></i></a>  &nbsp;&nbsp; <a   class="btn btn-default btn-xs"   href="@Url.Action("PrintView", "ManualOpenSheet")/' +
                                oObj.aData[9] + '\"  " title="General Print" target="_blank"><i class="glyphicon glyphicon-print"></i></a>&nbsp;&nbsp;  <a   class="btn btn-warning btn-xs"   href="@Url.Action("EPrintView", "ManualOpenSheet")/' +
                                oObj.aData[9] + '\"  " title="EIR Print" target="_blank"><i class="glyphicon glyphicon-print"></i></a> &nbsp;&nbsp;<a  class="btn btn-danger  del btn-xs" href="#" id="' +
                                oObj.aData[9] + '\" ><i class="glyphicon glyphicon-trash" style="font-size:small "></i> </a> ';
                        }
                    }

                ]
            });

            $("#from").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 3,
                dateFormat: 'dd-mm-yy',
                onClose: function (selectedDate) {
                    $("#to").datepicker("option", "minDate", selectedDate);
                }
            });
            $("#to").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 3,
                dateFormat: 'dd-mm-yy',
                onClose: function (selectedDate) {
                    $("#from").datepicker("option", "maxDate", selectedDate);
                }
            });




            //----------------Delete button click event----
            $(document).on("click","a.del",function() {
                var r=confirm("Are you sure to delete this record ?");

                if (r==true)
                {
                    var idx = $(this).attr('id');
                    base = window.location.origin;
                    $.post(base + "/ManualOpenSheet/Del",
                          {
                              id: idx, fld:"MANUALOPENSHEET"
                          },
                         function (data, status) {
                             alert(data);
                             if(data =="Deleted successfully...")
                                 location.replace(base + "/ManualOpenSheet");
                         });
                }
                       return false;
            });//----End of delete
        });//---End of ready function
    </script>
}
