@using scfs_erp.Models;
@model scfs_erp.Models.TransactionMaster

@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
}

@{
    ViewBag.Title = "Form";
}
<style>
    .frm_hide {
        display: none;
    }

    .ui-autocomplete {
        position: absolute;
        cursor: default;
        z-index: 4000 !important;
    }
</style>
<div class="modal-dialog">
    <div class="modal-content">
        <form id="InvoicePrint" method="post" action="@Url.Action("InvoiceUpdate","ImportInvoice")" autocomplete="on">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Invoice Billing Name Update</h4>
            </div>
            <div class="modal-body">
                <input type="text" id="TRANMID" class="TRANMID hide form-control" name="TRANMID" value="@ViewBag.TRANMID">
                <input type="text" id="OSMID" class="OSMID hide form-control" name="OSMID" value="@ViewBag.OSMID">


                <div class="form-group col-lg-12">
                    <div class="col-md-3 hide">
                        <div class="form-group">
                            <label>Billed To  </label>
                            @Html.DropDownList("BILLEDTO", null, new { @class = "form-control BILLEDTO", @id = "BILLEDTO", @tabindex = "24" })
                        </div>
                    </div>

                    <div class="form-group col-lg-6">

                        <label>Billing Name  </label>

                        <input type="text" class="OSBILLREFNAME form-control" name="OSBILLREFNAME" id="OSBILLREFNAME" value="@ViewBag.OSBILLREFNAME" data-autocomplete-url=@Url.Action("NewAutoCha", "OpenSheet") />
                        <input type="text" class="OSBILLREFID form-control hide" name="OSBILLREFID" id="OSBILLREFID" value="@ViewBag.OSBILLREFID" />


                    </div>
                    
                    <div class="form-group col-lg-6">
                        <label>Billing Address Type<span class="required-field"></span> </label>

                        @Html.DropDownList("OSBBCHACATEAID", null, "Select Location", new { @class = "form-control OSBBCHACATEAID", @id = "OSBBCHACATEAID", @tabindex = "4", @onchange = "GetBillAddressDetails()" })
                        <input type="text" id="OSBBCHA_CATEAID" class="OSBBCHA_CATEAID hide form-control" name="OSBBCHA_CATEAID" value="@ViewBag.OSBBCHA_CATEAID">

                    </div>

                    <div class="form-group col-lg-6">
                        <label>Billing GST No</label>
                        <input type="text" id="OSBBCHACATEAGSTNO" class="OSBBCHACATEAGSTNO form-control" name="OSBBCHACATEAGSTNO" value="@ViewBag.OSBBCHACATEAGSTNO" readonly="readonly">
                        <input type="text" id="OSBBCHASTATEID" class="OSBBCHASTATEID hide form-control" name="OSBBCHASTATEID" value="@ViewBag.OSBBCHASTATEID">

                    </div>

                    <div class="form-group col-lg-6">
                        <label>Address 1 </label>
                        <input type="text" id="OSBBCHAADDR1" class="OSBBCHAADDR1 form-control" name="OSBBCHAADDR1" value="@ViewBag.OSBBCHAADDR1" readonly="readonly">

                    </div>
                    <div class="form-group col-lg-6">
                        <label>Address 2 </label>
                        <input type="text" id="OSBBCHAADDR2" class="OSBBCHAADDR2 form-control" name="OSBBCHAADDR2" value="@ViewBag.OSBBCHAADDR2" readonly="readonly">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Address 3 </label>
                        <input type="text" id="OSBBCHAADDR3" class="OSBBCHAADDR3 form-control" name="OSBBCHAADDR3" value="@ViewBag.OSBBCHAADDR3" readonly="readonly">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Address 4 </label>
                        <input type="text" id="OSBBCHAADDR4" class="OSBBCHAADDR4 form-control" name="OSBBCHAADDR4" value="@ViewBag.OSBBCHAADDR4" readonly="readonly">
                    </div>
                    <div class="col-md-5">
                        <label>State</label>
                        <div class="form-group">
                            <input type="text" id="txtstate" name="STATE" class="form-control STATE" value="@ViewBag.STATEDESC" readonly="readonly" />
                            <input type="text" id="txtstatetype" name="STATETYPE" class="form-control hide STATETYPE" value="@ViewBag.STATETYPE" />

                        </div>
                    </div>


                </div>

                <div class="clearfix"> </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btnclose" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="btnsave">Update</button>
                </div>
            </div>

        </form>
    </div>
</div>


<script type="text/javascript" src="~/Scripts/CommonValidation.js"></script>
<script>

    $(document).ready(function () {

       
        add_autocomplete_billingcha($("#OSBILLREFNAME"), "OSBILLREFNAME,OSBILLREFID");


        if ($('#OSBBCHA_CATEAID').val() > 0) {
            $(".OSBBCHACATEID").val($('#OSBBCHA_CATEAID').val());
        }
        else {
            var CHAID = $(".OSBILLREFID").val();
            if (CHAID > 0) {
                Billlocationdetail(CHAID);
            }
        }

        var OSBBCHACATEAID = $(".OSBBCHACATEAID").val();
        if (OSBBCHACATEAID > 0) {
            GetBillAddressDetails();
        }        

    });


    var CATEID = $("#OSBILLREFID").val();
    function Billlocationdetail(CATEID) {
        $(".OSBBCHACATEAID").empty();
        $.ajax({
            type: 'get',
            url: '@Url.Action("GetCatLocationDetail", "NonPnrInvoice")/?CATEID=' + CATEID,  // we are calling json method
            dataType: 'json',
            success: function (data) {
                if (data != "") {
                    var count = data.length;
                    if (count > 1) {
                        $(".OSBBCHACATEAID").append('<option value="0" selected>Select Location</option>');
                    }
                    $.each(data, function (i, dataval) {
                        if (count > 1) {
                            $(".OSBBCHACATEAID").append('<option value="' + dataval.CATEAID + '">' + dataval.CATEATYPEDESC + '</option>');
                        }
                        else {
                            $(".OSBBCHACATEAID").append('<option value="' + dataval.CATEAID + '" selected>' + dataval.CATEATYPEDESC + '</option>');
                        }
                    });
                }
                else {
                    $(".OSBBCHACATEAID").append('<option value="0">' + "Select Location" + '</option>');
                }

            },
            //complete: function () {
            //    //var CATEAID = $("#OSBBCHACATEAID").val();
            //    GetBillAddressDetails();
            //},
            error: function (ex) {
                // alert('Failed to data ' + ex);
            }
        });
    }

    //        var OSBBCHACATEAID = $("#OSBBCHACATEAID").val();
    //if (OSBBCHACATEAID > 0) {
    //    GetBillAddressDetails(OSBBCHACATEAID);
    //}

    function add_autocomplete_billingcha($obj, controls) {
        var oldFn = $.ui.autocomplete.prototype._renderItem;
        $.ui.autocomplete.prototype._renderItem = function (ul, item) {
            var re = new RegExp(this.term, "i");
            var t = item.label.replace(re, "<strong style='font-weight:bold;background:#C7DFFE;border-radius:2px;border:1px solid #98B8E1'>" + this.term + "</strong>");
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a>" + t + "</a>")
                .appendTo(ul);
        };

        $obj.autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: $obj.data("autocomplete-url"),
                    type: "POST",
                    dataType: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            count = 0;
                            item_str = "";
                            var jsonArg = new Object();
                            count = 0;
                            $.each(item, function (i, data) {
                                switch (count) {
                                    case 0:
                                        jsonArg.label = data;
                                        jsonArg.value = data;
                                        break;
                                    case 1:
                                        jsonArg.id = data;
                                        break;
                                    case 2:
                                        jsonArg.desc = data;
                                        break;
                                    case 3:
                                        jsonArg.xparam1 = data;
                                        break;
                                    case 4:
                                        jsonArg.xparam2 = data;
                                        break;
                                    case 5:
                                        jsonArg.xparam3 = data;
                                        break
                                }
                                count++
                            });
                            return jsonArg
                        }))
                    }
                })
            },
            search: function () {
                count = 0;
                $.each(controls.split(','), function (index, value) {
                    switch (count) {
                        case 0: break;
                        default:
                            $("#" + value).val(""); break;
                    } count++;
                })
                var term = extractLast(this.value);
                if (term.length < 2) {
                    return false
                }
            },
            select: function (event, ui) {
                $(this).val(ui.item.label);
                count = 0;
                $.each(controls.split(','), function (index, value) {
                    switch (count) {
                        case 1:
                            $("#" + value).val(ui.item.id);
                            break;
                        case 2:
                            $("#" + value).val(ui.item.desc);
                            break;
                        case 3:
                            $("#" + value).val(ui.item.xparam1);
                            break;
                        case 4:
                            $("#" + value).val(ui.item.xparam2);
                            break;
                        case 5:
                            $("#" + value).val(ui.item.xparam3);
                            break
                    }
                    count++
                    $("#OSBILLREFID").val(ui.item.id);
                });
                var CATEID = $("#OSBILLREFID").val();
                Billlocationdetail(CATEID);


                return false
            },
            change: function (event, ui) {
                //debugger;
                var opt = $(this).val();
                var crntval = event.currentTarget.value;
                $.ajax({
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: $obj.data("autocomplete-url"),
                    data: "{'term':'" + crntval + "'}",
                    dataType: 'json',
                    success: function (data) {
                        //debugger;
                        console.log(data);
                        //alert(data);
                        if (data.length == 0) {
                            // $(event.currentTarget).val('');
                            alert('Select item from the list.');
                         
                            $("#OSBILLREFNAME").focus();
                            $("#OSBILLREFID").val("0");
                        }
                        else { }
                    },
                    error: function (data) {
                        $(event.currentTarget).val('');
                        
                        $("#OSBILLREFNAME").val();
                        $("#OSBILLREFID").val("0");
                        console.log('Error retrieving options.');
                    }
                });
            },
            messages: {
                noResults: "",
                results: ""
            }
        })
    }

    function GetBillAddressDetails() {
        OSBBCHACATEAID = $("#OSBBCHACATEAID").val();
        //alert(CATEAID);
        $.ajax({
            type: 'get',
            url: '@Url.Action("GetCatAddressDetail", "NonPnrInvoice")/?CATEAID=' + OSBBCHACATEAID, // we are calling json method
            dataType: 'json',
            success: function (data) {
                if (data != "") {
                    $("#OSBBCHASTATEID").val(data[0].STATEID);
                    if (data[0].STATEID > 0) {
                        $.ajax({
                            type: 'get',
                            url: '@Url.Action("GetStateType", "BSInvoice")/?id=' + $("#OSBBCHASTATEID").val(), // we are calling json method
                            dataType: 'json',
                            success: function (stdata) {
                                if (stdata != "") {
                                    var statec = stdata[0].STATECODE + "  " + stdata[0].STATEDESC;
                                    console.log(statec);
                                    $("#txtstatetype").val(stdata[0].STATETYPE);
                                    $("#txtstate").val(statec);                                    
                                }
                                else {
                                    $("#txtstatetype").val("0");
                                    $("#txtstate").val("");
                                }
                                //alert($("#txtstatetype").val());
                            }
                        });
                    }


                    $("#OSBBCHACATEAGSTNO").val(data[0].CATEAGSTNO);
                    $("#OSBBCHAADDR1").val(data[0].CATEAADDR1);
                    $("#OSBBCHAADDR2").val(data[0].CATEAADDR2);
                    $("#OSBBCHAADDR3").val(data[0].CATEAADDR3);
                    $("#OSBBCHAADDR4").val(data[0].CATEAADDR4);
                  
                } else {

                    $("#OSBBCHASTATEID").val("0");
                    $("#OSBBCHACATEAGSTNO").val("-");
                    $("#OSBBCHAADDR1").val("-");
                    $("#OSBBCHAADDR2").val("-");
                    $("#OSBBCHAADDR3").val("-");
                    $("#OSBBCHAADDR4").val("-");
                    
                }
            },
            error: function (ex) {
                $("#OSBBCHASTATEID").val("0");
                $("#OSBBCHACATEAGSTNO").val("-");
                $("#OSBBCHAADDR1").val("-");
                $("#OSBBCHAADDR2").val("-");
                $("#OSBBCHAADDR3").val("-");
                $("#OSBBCHAADDR4").val("-");
               
                //alert('Failed to data ' + ex);
            }

        });
    }

    $('#btnsave').click(function () {
        var flag = true;
        if ($("#OSBILLREFNAME").val() == "") {
            alert('Please Enter Billing Cha Name !!');
            $("#OSBILLREFNAME").focus();
            flag = false;

        }
        else if ($("#OSBBCHACATEAID option:selected").val() == "" || $("#OSBBCHACATEAID option:selected").val() == "0") {
            alert('Please Select Billing Address Type');
            $("#OSBBCHACATEAID").focus();
            flag = false;

        }
        else if ($("#OSBILLREFID").val() == "" || $("#OSBILLREFID").val() == "0") {
            alert('Please Select Billing Cha Name');
            $("#OSBILLREFNAME").focus();
            flag = false;

        }
        if (flag) {

            tab = {
                TRANMID: $("#TRANMID").val(),
                OSMID: $("#OSMID").val(),
                OSBILLREFNAME: $("#OSBILLREFNAME").val(),
                OSBILLREFID: $("#OSBILLREFID").val(),
                OSBBCHACATEAID: $("#OSBBCHACATEAID option:selected").val(),

                OSBBCHACATEAGSTNO: $("#OSBBCHACATEAGSTNO").val(),
                OSBBCHASTATEID: $("#OSBBCHASTATEID").val(),
                OSBBCHAADDR1: $("#OSBBCHAADDR1").val(),
                OSBBCHAADDR2: $("#OSBBCHAADDR2").val(),
                OSBBCHAADDR3: $("#OSBBCHAADDR3").val(),
                OSBBCHAADDR4: $("#OSBBCHAADDR4").val()
            }

            var r = confirm("Are you sure to update?");
            if (r == true) {
                $.ajax({
                    type: 'post',
                    url: '@Url.Action("UpdateBchaNmae", "ImportInvoice")', // we are calling json method
                    data: tab,
                    success: function (data) {
                        if (data == "saved") {

                            var returnurl = '@Url.Action("Index", "ImportInvoice")';
                            window.location.href = returnurl;

                            SwalSucMsg('Updated Successfully!!');

                        }
                        else {
                            alert(data);
                            var returnurl = '@Url.Action("Index", "ImportInvoice")';
                            window.location.href = returnurl;

                        }
                    }
                });

            } else {

                return false;

            }
        }
    });

    $('#btnclose').click(function () {
        base = window.location.origin;
        var url = base + "/ImportInvoice/Index";
        window.location.href = url;
    });

</script>

