@using scfs_erp.Models;


@model scfs_erp.Models.GateOutDetail


@{
    ViewBag.Title = "Truck Out Detail";
}

<style>
    .frm_hide {
        display: none;
    }
</style>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <i class="glyphicon glyphicon-import"></i>
                    <strong>Truck Out</strong>

                </div>
            </div>

            <div class="box-content" data-ng-app="myModule">
                <form action="@Url.Content("~/ImportTruckOut/savedata")" method="post" accept-charset="utf-8" id="ImportTruckOutfrm" data-ng-controller="myController" name="ImportTruckOutfrm" onsubmit="return Validate()">


                    @Html.ValidationSummary(true)

                    <fieldset id="GateOutDetailform_info">

                        <div class="row">

                            <div class="col-md-12">
                                <div class="col-md-4 hide">
                                    <div class="form-group">
                                        <label>Primary  </label>
                                        @Html.TextBoxFor(model => model.GODID, new { @class = "form-control  GODID", @id = "GODID" })
                                        @Html.TextBoxFor(model => model.GODNO, new { @class = "form-control  GODNO", @id = "GODNO" })



                                    </div>

                                </div>


                                <div class="col-md-2">

                                    <div class="form-group">
                                        <label>Date </label>
                                        @Html.TextBoxFor(model => Model.GODATE, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker GODATE ", @id = "GODATE", @data_val = false, tabindex = "1" })

                                    </div>
                                </div>
                                <div class="col-md-3">

                                    <div class="form-group">
                                        <label>Time </label>
                                        @Html.TextBoxFor(model => Model.GOTIME, new { @class = "form-control datetime GOTIME ", @id = "GOTIME", @data_val = false, tabindex = "2" })

                                    </div>
                                </div>
                                <div class="col-md-2">

                                    <div class="form-group">
                                        <label>No </label>
                                        @Html.TextBoxFor(model => Model.GONO, new { @class = "form-control GONO ", @id = "GONO", @data_val = false, @readonly = "readonly" })

                                    </div>
                                </div>
                                @*</div>
        <div class="col-md-12">*@
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Vehicle No</label>


                                        @Html.TextBoxFor(model => Model.VHLNO, new { @class = "form-control  VHLNO ", @id = "VHLNO", @required = "required", @data_autocomplete_url = @Url.Action("AutoVehicle", "ImportTruckOut"), tabindex = "3" })
                                        @Html.TextBoxFor(model => Model.GIDID, new { @class = "hide form-control  GIDID ", @id = "GIDID", @data_val = false })


                                    </div>

                                </div>


                                <div class="col-md-2">

                                    <div class="form-group">
                                        <label>In Date </label>
                                        <input type="text" value="@ViewBag.GIDATE" id="GIDATE" class=" form-control GIDATE" name="GIDATE" readonly />
                                    </div>
                                </div>
                                <div class="col-md-2">

                                    <div class="form-group">
                                        <label>Steamer Name </label>
                                        <input type="text" value="@ViewBag.STMRNAME" id="STMRNAME" class=" form-control STMRNAME" name="STMRNAME" readonly />
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Impoter Name </label>
                                        <input type="text" value="@ViewBag.IMPRTNAME" id="IMPRTNAME" class=" form-control IMPRTNAME" name="IMPRTNAME" readonly />
                                    </div>
                                </div>
                                                 

                                <div class="col-md-5 hide">
                                    <div class="form-group">
                                        <label>CHA</label>
                                        @Html.TextBoxFor(model => Model.CHASNAME, new { @class = "form-control  CHASNAME ", @id = "CHASNAME", @readonly = "readonly" })
                                        @Html.TextBoxFor(model => Model.CHAID, new { @class = "form-control hide CHAID ", @id = "CHAID", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Driver Name</label>
                                        @Html.TextBoxFor(model => Model.GDRVNAME, new { @class = "form-control GDRVNAME", @id = "GDRVNAME", @required = "required", tabindex = "4" })
                                    </div>

                                </div>



                            </div>


                            <div class="col-md-12 box-footer">


                                <input type="button" name="back" value="Go Back" class="btn btn-primary btn-xs  pull-left" onclick="JavaScript:history.back()" />

                                <input type="submit" name="submit" value="Submit" class="btn btn-success btn-xs" id="save" tabindex="100" />


                            </div>
                        </div>
                    </fieldset>

                </form>


            </div>
        </div>
    </div>

</div>
@section Scripts{

    <script>

        function autocomplete($obj, controls) {
            var oldFn = $.ui.autocomplete.prototype._renderItem;
            $.ui.autocomplete.prototype._renderItem = function (ul, item) {
                var re = new RegExp(this.term, "i");
                var t = item.label.replace(re, "<strong style='font-weight:bold;background:#C7DFFE;border-radius:2px;border:1px solid #98B8E1'>" + this.term + "</strong>");
                return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a>" + t + "</a>")
                    .appendTo(ul);
            };
            $obj.autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: $obj.data("autocomplete-url"),
                        type: "POST",
                        dataType: "json",
                        data: {
                            term: request.term
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                count = 0;
                                item_str = "";
                                var jsonArg = new Object();
                                count = 0;
                                $.each(item, function (i, data) {
                                    switch (count) {
                                        case 0:
                                            jsonArg.label = data;
                                            jsonArg.value = data;
                                            break;
                                        case 1:
                                            jsonArg.id = data;
                                            break;
                                        case 2:
                                            jsonArg.desc = data;
                                            break;
                                        case 3:
                                            jsonArg.xparam1 = data;
                                            break;
                                        case 4:
                                            jsonArg.xparam2 = data;
                                            break;
                                        case 5:
                                            jsonArg.xparam3 = data;
                                            break
                                        case 6:
                                            jsonArg.xparam4 = data;
                                            break
                                    }
                                    count++
                                });
                                return jsonArg
                            }))
                        }
                    })
                },
                search: function () {
                    var term = extractLast(this.value);
                    if (term.length < 2) {
                        return false
                    }
                },
                select: function (event, ui) {
                    $(this).val(ui.item.label);
                    count = 0;
                    $.each(controls.split(','), function (index, value) {
                        switch (count) {
                            case 1:
                                $("#" + value).val(ui.item.id);
                                break;
                            case 2:
                                $("#" + value).val(ui.item.desc);
                                break;
                            case 3:
                                $("#" + value).val(ui.item.xparam1);
                                break;
                            case 4:
                                $("#" + value).val(ui.item.xparam2);                             
                                break;
                            case 5:
                                $("#" + value).val(ui.item.xparam3);
                                break;
                            case 6: //alert(ui.item.xparam4 + "6");
                                $("#" + value).val(ui.item.xparam4);
                                break;
                        }
                        count++
                    });


                    return false;
                },
                messages: {
                    noResults: "",
                    results: ""
                }
            })
        }////......end
        $(function () {
            window.onbeforeunload = function () {
                $("input[type=submit]").attr("disabled", "disabled");
            };

            $('input[id$=GODATE]').datepicker({
                dateFormat: 'dd/mm/yy',
                maxDate: new Date(),
                onClose: function (dateText, inst) {
                    $("#GODATE").focus();
                }
            });

            $(".datepicker").datepicker({ dateFormat: 'dd/mm/yy' });

            if ($('#GODID').val() == "" || $('#GODID').val() == "0") {
                $('#GODID').val("0");
                var dt = new Date();

                var year = dt.getFullYear();
                var month = dt.getMonth() + 1;
                var day = dt.getDate();

                if (month < 10) month = "0" + month;
                if (day < 10) day = "0" + day;

                //var month = dt.getMonth() + 1;
                //var date = dt.getDate() + "/" + month + "/" + dt.getFullYear();
                //console.log(year + '/' + month + '/' + day);

                var date = day + '/' + month + '/' + year;

                var hours = dt.getHours();
                var minutes = dt.getMinutes();
                var seconds = dt.getSeconds();

                if (hours < 10) hours = "0" + hours;
                if (minutes < 10) minutes = "0" + minutes;
                if (seconds < 10) seconds = "0" + seconds;

                var time = hours + ':' + minutes + ':' + seconds;

                $(".GODATE").val(date);

                $(".GOTIME").val(time);
            }


            //$('.time').timepicker();

            autocomplete($("#VHLNO"), "VHLNO")

            $("#VHLNO").change(function () {

                //var GIDID = $(".GIDID option:selected").val();
                var url = "/ImportTruckOut/Detail/?id=" + $('#VHLNO').val();

                $.getJSON(url, function (data) {
                    console.log(data);
                    $.each(data, function (key, val) {

                        var GIDATE = val.GIDATE;
                        var STMRNAME = val.STMRNAME;
                        var IMPRTNAME = val.IMPRTNAME;
                        var GIDID = val.GIDID;

                        $("#GIDATE").val(GIDATE);
                        $("#STMRNAME").val(STMRNAME);
                        $("#IMPRTNAME").val(IMPRTNAME);
                        $("#CHA").val('');
                        $("#CHAID").val('0');
                        $("#GIDID").val(GIDID);

                    });
                });
            });         //------------------Block Type function----------

        });


        function Validate() {
            if ($("#VHLNO").val() == "") {
                alert("Please Select Vehicle No...!");
                $(".VHLNO").val(""); $(".VHLNO").focus(); return false;
            }
        }
    </script>
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
