@model IEnumerable<scfs_erp.Models.TransactionMaster>

@{
    ViewBag.Title = "Stuffing Invoice";
}

<div id="main-content">
    <div class="col-md-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="box">

                    <div class="panel panel-primary" style="background: #323C55;">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <i class="glyphicon glyphicon-export"></i>@ViewBag.Title
                                <a class="btn btn-success btn-sm pull-right" style="padding:3px;margin:0 0 10px" href="@Url.Action("GSTForm", "StuffingBill")"><i class="fa fa-plus-square "></i> Add New </a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3"> </div>
                        <div class="col-md-7">
                            <form action="#" method="post" accept-charset="utf-8" id="StuffingBillform" data-ng-controller="myController" name="StuffingBillform">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-2">
                                            <label for="from">Bill Type</label>
                                            <div class="form-group">
                                                @Html.DropDownList("TRANBTYPE", null, new { @class = "form-control TRANBTYPE", @id = "TRANBTYPE" })

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="from">Bill To</label>
                                            <div class="form-group">
                                                @Html.DropDownList("REGSTRID", null, new { @class = "form-control REGSTRID", @id = "REGSTRID" })
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <label for="from">From</label>
                                            <div class="form-group">
                                                <input type="text" id="from" name="from" class="form-control" value="@System.Web.HttpContext.Current.Session["SDATE"]">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="from">To</label>
                                            <div class="form-group">
                                                <input type="text" id="to" name="to" class="form-control" value="@System.Web.HttpContext.Current.Session["EDATE"]">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="from"></label>
                                            <div class="form-group">
                                                <input type="submit" name="submit" value="Search" class="btn btn-primary btn-xs" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>
                                    Date
                                </th>
                                <th>Time</th>
                                <th>
                                    No
                                </th>

                                <th>
                                    CHA Name
                                </th>
                                <th>
                                    Amount
                                </th>
                                <th>Ack No.</th>
                                <th>
                                    S
                                </th>
                                <th class="hidden">
                                    gst
                                </th>
                                <th></th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
            $(document).ready(function () {
                $(document).on('hidden.bs.modal', function (e) {
                    var target = $(e.target);
                    target.removeData('bs.modal')
                          .find(".modal-content").html('');
                });

                $('#dataTables-example').dataTable({
                    "bServerSide": true,
                    "sAjaxSource": "@Url.Action("GetAjaxData", "StuffingBill")",
                    "bProcessing": true,
                    "bStateSave": true,
                    "aaSorting": [[1, "asc"]],
                    "oLanguage": {
                        "sSearch": "Search: "
                    },
                    "aoColumns": [
                        { "sName": "", "sClass": "col-lg-2" },
                        { "sName": "" },
                        { "sName": "" },
                        { "sName": " ", "sClass": "col-lg-3" },
                        { "sName": "", "sClass": "col-lg-1"  },
                        { "sName": "" },
                        { "sName": "" },
                        { "sName": "", "sClass": "col-lg-2 hide" },
                        {
                            "sClass": "col-sm-1 cent",
                            "sName": "ID",
                            "bSearchable": false,
                            "bSortable": false,
                            "fnRender": function (oObj) {

                                if (oObj.aData[5] > 0)
                                {
                                    return ' <a class="btn btn-default btn-xs" href="@Url.Action("AForm", "StuffingBill")/' +
                                        oObj.aData[8] + '~' + oObj.aData[7] + '\" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false"><i class="glyphicon glyphicon-print"></i></a>  &nbsp;&nbsp;<a   class="btn btn-success btn-xs" target="_blank"  href="@Url.Action("APrintView", "StuffingBill")/' +
                                        oObj.aData[8] + '\"><i class="glyphicon glyphicon-print"></i></a>  &nbsp;&nbsp;<a   class="btn btn-warning btn-xs"   href="@Url.Action("MForm", "MailForm")/' +
                                        oObj.aData[8] + '\" target="_blank"><i class="glyphicon glyphicon-envelope"></i></a>  ';
                                }
                                else
                                {
                                    return ' <a   class="btn btn-primary btn-xs"   href="@Url.Action("Edit", "StuffingBill")/' +
                                        oObj.aData[8] + '\"><i class="glyphicon glyphicon-edit"></i></a>  &nbsp;&nbsp; <a class="btn btn-default btn-xs" href="@Url.Action("BForm", "StuffingBill")/' + oObj.aData[8] + '\"  data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false"><i class="glyphicon glyphicon-bold"></i></a>  &nbsp;&nbsp;'+
                                        @*<a class="btn btn-success btn-xs EInvoice  @ViewBag.aaa" href="#" id="' + oObj.aData[8] + '" data - toggle="modal" data - target="#myModal" > <i class="glyphicon glyphicon-magnet"></i></a >  & nbsp;& nbsp;*@
                                        '<a class="btn btn-default btn-xs" href="@Url.Action("AForm", "StuffingBill")/' +
                                        oObj.aData[8] + '~' + oObj.aData[7] + '\" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false"><i class="glyphicon glyphicon-print"></i></a>  &nbsp;&nbsp;<a   class="btn btn-success btn-xs" target="_blank"  href="@Url.Action("APrintView", "StuffingBill")/' +
                                        oObj.aData[8] + '\"><i class="glyphicon glyphicon-print"></i></a>  &nbsp;&nbsp;<a   class="btn btn-warning btn-xs"   href="@Url.Action("MForm", "MailForm")/' +
                                        oObj.aData[8] + '\" target="_blank"><i class="glyphicon glyphicon-envelope"></i></a>  &nbsp;&nbsp;<a  class="btn btn-danger del btn-xs" href="#" id="' + oObj.aData[8] + '" "><i class="glyphicon glyphicon-trash"></i> </a> ';
                                }
                            }
                        }

                    ]
                });


                $("#from").datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 3,
                    dateFormat: 'dd-mm-yy',
                    onClose: function (selectedDate) {
                        $("#to").datepicker("option", "minDate", selectedDate);
                    }
                });
                $("#to").datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 3,
                    dateFormat: 'dd-mm-yy',
                    onClose: function (selectedDate) {
                        $("#from").datepicker("option", "maxDate", selectedDate);
                    }
                });
                //------------Delete Record-------------//
                $(document).on("click", "a.del", function () {
                    var r = confirm("Are you sure to delete this record ?");

                    if (r == true) {
                        var idx = $(this).attr('id');
                        base = window.location.origin;
                        $.post(base + "/StuffingBill/Del",
                               {
                                   id: idx, fld: ""
                               },
                             function (data, status) {
                                 if (data == "") {
                                     alert("You are not Authorized to Delete....!");
                                 }
                                 else if (data != "Deleted successfully...") {
                                     alert(data);
                                 }
                                 else {
                                     alert(data);
                                     location.replace(base + "/StuffingBill");
                                 }
                             });
                    }
                    return false;
                });//End

            //------------Swal Delete Record-------------//

            $(document).on("click", "a.EInvoice", function () {
                var idx = $(this).attr('id');
                base = window.location.origin;

                swal({
                    title: "Are you sure?",
                    text: "Are you sure to Upload this Invoice ?",
                    type: "warning",
                    confirmButtonText: "Yes",
                    showCancelButton: true,
                    cancelButtonText: "No",
                    showCloseButton: true
                })
                    .then((result) => {
                        if (result.value) {
                            //
                            $.ajax({

                                type: 'post',
                                url: '@Url.Action("CInvoice", "StuffingBill")/' + idx, // we are calling json method
                                success: function (jdata) {
                                    alert(jdata);
                                    //if (data == "Item Saved") {
                                    //} else {
                                    //    //alert(window.location.origin + data);
                                    //    location.replace(base + "/StuffingBill");
                                    //}
                                        $.ajax({
                                            type: "POST",
                                            url: "https://www.fusiontec.com/ebill2/upload.php?ids=" + idx,
                                            dataType: 'json',
                                            data: { json: JSON.stringify(jdata) },
                                            success: function (data) {
                                                //alert(data);
                                            },
                                            error: function (ex) {
                                                //alert(ex.responseJSON);
                                                //alert('Failed to data ' + ex);
                                            }
                                            //alert(data);
                                        });

                                        $.ajax({
                                            type: "post",
                                            url: '@Url.Action("UInvoice", "StuffingBill")/' + idx, // we are calling json method
                                            success: function (data) {
                                                //alert(data);
                                                //location.replace(base + "/StuffingBill");
                                                if (data == "Uploaded Succesfully")
                                                {
                                                    swal({
                                                        title: "Saved",
                                                        text: "Export Invoice Uploaded Successfully !!",
                                                        type: "success",
                                                        timer: 10000
                                                    }).then(function () {
                                                        location.replace(base + "/StuffingBill");
                                                    }
                                                    );
                                                }
                                                else {
                                                    swal({
                                                        title: "Error",
                                                        text: data,
                                                        type: "warning",
                                                        //timer: 10000
                                                    }).then(function () {
                                                        location.replace(base + "/StuffingBill");
                                                    }
                                                    );
                                                }

                                            },
                                            error: function (ex) {
                                                //alert(ex.responseJSON);
                                                //alert('Failed to data ' + ex);
                                            }
                                            //alert(data);
                                        });

                                        //swal({
                                        //    title: "Saved",
                                        //    text: "Import Invoice Uploaded Successfully !!",
                                        //    type: "success"
                                        //}
                                        //    //, function () {
                                        //    //    window.location = "index.php";
                                        //    //}
                                        //);
                                },
                                error: function (ex) {
                                    alert('Failed to save data ' + ex);
                                }
                            });


                        } else if (result.dismiss === 'cancel') {

                            //
                            location.replace(base + "/StuffingBill");
                            return false;
                            //
                        }
                    })



            });//End

            });
    </script>
}

<div id="myModal" class="modal fade">


</div>
