@model IEnumerable<scfs_erp.Models.DesignationTypeMaster>


@{
    ViewBag.Title = "Designation Type";
}
<div class="box">
    <div class="box-header">
        <div class="box-name">
            <i class="glyphicon glyphicon-share"></i><strong>@ViewBag.Title</strong>
        </div>
        <div class="box-icons">
            <button onclick="parent.location = '@Url.Action("Form","DesignationTypeMaster")'; return false;" class=" btn-success"> Create New </button>
        </div>
        <div class="no-move"></div>
    </div>
    <div class="box-content no-padding">
        <br />
        <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="dataTables-example">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DSGNTCODE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DSGNTDESC)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DISPSTATUS)
                    </th>
                    <th></th>
                </tr>
            </thead>

        </table>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable({
                "bServerSide": true,
                "sAjaxSource": "@Url.Action("GetAjaxData", "DesignationTypeMaster")",
                "bProcessing": true,
                "bStateSave": true,
                "aaSorting": [[1, "desc"]],
                "oLanguage": {
                    "sSearch": "Search: "
                },   
                "aoColumns": [
                    { "sName": "" },
                    { "sName": " ", "sClass": "action" },
                    { "sName": "" },
                    {
                        "sClass": "col-md-2 cent",
                        "sName": "ID",
                        "bSearchable": false,
                        "bSortable": false,
                        "fnRender": function (oObj) {
                            return ' <a   class="btn btn-primary btn-xs"   href="@Url.Action("Edit", "DesignationTypeMaster")/' +
                                oObj.aData[3] + '\" Title=Modify Details "><i class="glyphicon glyphicon-edit"></i></a>  &nbsp;&nbsp;<a  class="btn btn-danger btn-xs del" href="#" id="' +
                                oObj.aData[3] + '\"> <i class="glyphicon glyphicon-trash"></i> </a> ';
                        }
                    }

                ]
            });


            //------------Delete Record-------------//
            $(document).on("click","a.del",function() {
                var r=confirm("Are you sure to delete this record ?");

                if (r==true)
                {
                    var idx = $(this).attr('id');
                    //alert(idx);
                    base = window.location.origin;
                    $.post(base +"/DesignationTypeMaster/Del",
                         {
                             id: idx, fld: "DesignationTypeMaster"
                         },
                        function(data,status){
                            alert(data);
                            if(data=="Deleted Successfully ...")
                                location.replace(base + "/DesignationTypeMaster");
                        });
                }
                return false;
            });//End

        });
    </script>
}