
@using scfs_erp.Models;
@model scfs_erp.Models.GradeMaster

@{
    ViewBag.Title = "Grade Master";
}

<link href="~/Content/Site.css" type="text/css" rel="stylesheet" />

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-search"></i>
                    <strong>Grade Master</strong>
                </div>
            </div>
            <div class="box-content" data-ng-app="myModule">
                @*<form action="@Url.Content("~/GradeMaster/savedata")" method="post" accept-charset="utf-8" id="grademasterform" data-ng-controller="myController" name="grademasterform">*@
                <form>
                    @Html.ValidationSummary(true)
                    <fieldset id="GradeMasterForm_info">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4 hidden">
                                    <div class="form-group">
                                        <label>Primary  </label>
                                        @Html.TextBoxFor(model => Model.GRADEID, new { @class = "form-control  GRADEID", @id = "GRADEID" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Code<span class="required-field"></span> </label>@*@Html.ValidationMessageFor(model => model.GRADECODE)*@
                                        @Html.TextBoxFor(model => Model.GRADECODE, new { @class = "form-control GRADECODE", @id = "GRADECODE" })
                                        <input type="text" value="@Model.GRADECODE" name="i_GRADECODE" hidden>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Description<span class="required-field"></span> </label>@*@Html.ValidationMessageFor(model => model.GRADEDESC)*@
                                        @Html.TextBoxFor(model => Model.GRADEDESC, new { @class = "form-control  GRADEDESC", @id = "GRADEDESC" })
                                        <input type="text" value="@Model.GRADEDESC" name="i_GRADEDESC" hidden>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Status </label>
                                        @Html.DropDownList("DISPSTATUS", null, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.DISPSTATUS)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 box-footer">
                                @*<input type="button" name="back" value="Go Back" class="btn btn-primary btn-xs  pull-left" onclick="JavaScript:history.back()" />
                                  <input type="submit" name="submit" value="Submit" class="btn btn-success btn-xs" id="save" />*@
                                <a href="@Url.Action("Index", "GradeMaster")" class="btn btn-primary btn-xs  pull-left" onclick="javascript:return confirm('Are you sure you want to go back?')">Go Back</a>
                                <input type="button" name="submit" value="Submit" class="btn btn-success btn-xs" id="btnsave" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="~/Scripts/CommonValidation.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
<script>
        $('#btnsave').click(function () {
            if ($('#GRADECODE').val() == "") {
                alert('Please Enter Code !!');
                $('#GRADECODE').focus();
                return false;
            }
            if ($('#GRADEDESC').val() == "") {
                alert('Please Enter Description !!');
                $('#GRADEDESC').focus();
                return false;
            }

            var pdate = new Date();

            if ($('#GRADEID').val() == "") { $('#GRADEID').val(0); }

            var tab = {
                GRADEID: $('#GRADEID').val(),
                GRADECODE: $('#GRADECODE').val(),
                GRADEDESC: $('#GRADEDESC').val(),
                DISPSTATUS: $('#DISPSTATUS').val(),
                CUSRID: "",
                LMUSRID: 1,
                PRCSDATE: pdate
            };
            $.ajax({
                url: "/GradeMaster/savedata",
                data: JSON.stringify(tab),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (status) {
                    if (status == "Update") {
                        alert('Grade Master Details Updated Successfully !! ');

                        var returnurl = "@Url.Action("Index", "GradeMaster")";
                        window.location.href = returnurl;
                    }
                    else if (status == "Success") {
                        alert('Grade Master Details Inserted Successfully !! ');
                        var returnurl = "@Url.Action("Index", "GradeMaster")";
                        window.location.href = returnurl;
                    }
                    else if (status == "Existing") {
                        alert('Grade Master Details Already Inserted !! ');
                        $('#GRADECODE').val("");
                        $('#GRADEDESC').val("");
                        var returnurl = "@Url.Action("Form", "GradeMaster")";
                        window.location.href = returnurl;
                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });

        });
</script>


}
