
@{
    ViewBag.Title = "E-Seal Invoice";
}

<style>
    .frm_hide {
        display: none;
    }

    #sidebar {
        display: none;
    }

    #main-content {
        margin-left: auto;
    }
</style>
<div class="main-content">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="panel panel-primary" style="background: #323C55;">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <i class="glyphicon glyphicon-export"></i>&nbsp;E-Seal Invoice
                                <a class="btn btn-success btn-sm pull-right" style="padding:3px;margin:0 0 10px" href="@Url.Action("ESIForm", "ESealInvoice")"><i class="fa fa-plus-square "></i> Add New </a>
                            </div>
                        </div>
                    </div>
                    <form action="#" method="post" accept-charset="utf-8" id="ESealInvoiceform" data-ng-controller="myController" name="ESealInvoiceform">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-2"></div>

                                <div class="col-md-10">
                                    <div class="col-md-2">
                                        <label for="from">Bill Type</label>
                                        <div class="form-group">
                                            @Html.DropDownList("REGSTRID", null, new { @class = "form-control", @id = "REGSTRID" })
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="from">From</label>
                                        <div class="form-group">
                                            <input type="text" id="from" name="from" value="@System.Web.HttpContext.Current.Session["SDATE"]">
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <label for="from">To</label>
                                        <div class="form-group">
                                            <input type="text" id="to" name="to" value="@System.Web.HttpContext.Current.Session["EDATE"]">
                                        </div>
                                    </div>
                                    <div class="col-md-1 pull-2">
                                        <label for="from"></label>
                                        <div class="form-group">
                                            <input type="submit" name="submit" value="Search" class="btn btn-primary btn-xs" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                        <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Time
                                    </th>
                                    <th>
                                        No
                                    </th>
                                    <th>
                                        CHA Name
                                    </th>
                                    <th>
                                        Container No
                                    </th>
                                    <th>
                                        Size
                                    </th>
                                    <th>
                                        Type
                                    </th>

                                    <th>
                                        Exporter
                                    </th>

                                    <th>
                                        Amount
                                    </th>
                                    <th>
                                        Gst Amount
                                    </th>
                                    <th>
                                        S
                                    </th>

                                    <th style="width:auto;">Action</th>
                                </tr>
                            </thead>

                        </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {

            $('#dataTables-example').dataTable({
                "bServerSide": true,
                "sAjaxSource": "@Url.Action("GetAjaxData", "ESealInvoice")",
                "bProcessing": true,
                "bStateSave": true,
                "aaSorting": [[1, "desc"]],
                "oLanguage": {
                    "sSearch": "Search: "
                },
                "aoColumns": [
                    { "sName": "", "sClass": "col-md-2" },
                    { "sName": "", "sClass": "col-md-1" },
                    { "sName": "", "sClass": "col-md-2" },
                    { "sName": "", "sClass": "col-md-1" },
                    { "sName": "", "sClass": "col-md-2" },
                    { "sName": "", "sClass": "col-md-2" },
                    { "sName": "", "sClass": "col-md-2" },
                    { "sName": "", "sClass": "col-md-2" },
                    { "sName": "", "sClass": "col-md-2" },
                    { "sName": "", "sClass": "col-md-2" },
                    { "sName": "", "sClass": "col-md-2" },
                    {
                        "sClass": "col-md-2 cent",
                        "sName": "ID",
                        "bSearchable": false,
                        "bSortable": false,
                        "fnRender": function (oObj) {
                            return ' <a   class="btn btn-primary btn-xs"   href="@Url.Action("Edit", "ESealInvoice")/' +
                                oObj.aData[13] + '\"><i class="glyphicon glyphicon-edit"></i></a>  &nbsp;&nbsp;<a   class="btn btn-default btn-xs"   href="@Url.Action("PrintView", "ESealInvoice")/' +
                                oObj.aData[13] + '\" target="_blank"><i class="glyphicon glyphicon-print"></i></a>  &nbsp;&nbsp;'+
                                '<a class="btn btn-warning btn-xs" href="@Url.Action("MForm", "MailForm")/' + oObj.aData[13] + '\"  target="_blank"><i class="glyphicon glyphicon-envelope"></i></a>  &nbsp;&nbsp;<a  class="btn btn-danger del btn-xs" href="#" id="' + oObj.aData[11] + ";" + oObj.aData[12] + ";" + oObj.aData[13] + '" "><i class="glyphicon glyphicon-trash"></i> </a> ' ;
                        }
                    }

                ]
            });


        });

        $("#from").datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 3,
            dateFormat: 'dd-mm-yy',
            onClose: function (selectedDate) {
                $("#to").datepicker("option", "minDate", selectedDate);
            }
        });
        $("#to").datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 3,
            dateFormat: 'dd-mm-yy',
            onClose: function (selectedDate) {
                $("#from").datepicker("option", "maxDate", selectedDate);
            }
        });

        //--------------print------------------------//
        $(".print-invoice").on("click", function () {
            var idx = $(this).attr('id');

            turl = "http://216.172.100.137:8080/cfsrpt/print.php?id" + idx;
            cpurl = "http://216.172.100.137:8080/cfsrpt/egatein.pdf";

            var pdf = $.post(turl, function () {
                alert("success");
            })
                .success(function () { })
                .complete(function () { });
            pdf.complete(function () { window.open(cpurl, "_blank"); });

            return false;
        });

        //end


        //------------Delete Record-------------//
        $(document).on("click", "a.del", function () {
            var r = confirm("Are you sure to delete this record ?");

            if (r == true) {
                var idx = $(this).attr('id');
                base = window.location.origin;
                $.post(base + "/ESealInvoice/Del",
                    {
                        id: idx, fld: "ESEALINVOICE"
                    },
                    function (data, status) {
                        if (data == "") {
                            alert("You are not Authorized to Delete....!");
                        }
                        else if (data != "Deleted successfully...") {
                            alert(data);
                        }
                        else {
                            alert(data);
                            location.replace(base + "/Invoice");
                        }
                    });
            }
            return false;
        });//End


    </script>


}
